{% extends 'main.html' %}

{% block content %}
<div>
    <h1>Home Template</h1>
    <div>
        <a href="{% url 'create-room' %}">Create a new room</a>
        {% for room in rooms %}
        <hr>

        <div>
            <span>@{{room.host.username}} </span>
            <h5>{{room.id}} -- <a href="{% url 'room' room.id %}">{{room.name}}</a></h5>
            <small>{{room.topic.name}}</small>
            <a href="{% url 'update-room' room.id %}">Edit</a>
            <a href="{% url 'delete-room' room.id %}">Delete</a>
            <hr>
        </div>
        
        {% endfor %}
    </div>
</div>

{% endblock %}
